* {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin-top: 7rem;
  margin-left: 218px;
  text-align: center;
}
main .order {
  margin-left: -2rem;
  width: 100%;
}
main .order tr td form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  font-family: sans-serif;
  font-weight: bold;
  line-height: inherit;
  font-size: 1.5rem;
  margin-top: 1.3rem;
  cursor: pointer;
}
main .order tr td form button {
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 0.1rem;
  margin-bottom: 0.4rem;
  transition-duration: 0.4s;
  cursor: pointer;
}
main .order tr td form button:hover {
  background-color: transparent;
  color: #4CAF50;
}
main .order tr td:nth-child(1) {
  width: 17%;
}
main .order tr td:nth-child(2) {
  text-align: left;
}
main .order tr td:nth-child(3) {
  text-align: right;
}
main .order tr td:nth-child(3) button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: royalblue;
  border: 1px solid royalblue;
  box-shadow: 0px 0px 27px 0px #000000;
  transition-duration: 0.4s;
  cursor: pointer;
}
main .order tr td:nth-child(3) button i {
  color: white;
}
main .order tr td:nth-child(3) button:hover {
  background-color: white;
  color: royalblue;
}
main .order tr td:nth-child(3) button:hover i {
  color: royalblue;
}
main .withData .dataTitle {
  display: flex;
}
main .withData .dataTitle button {
  background-color: green;
  border: 1px solid green;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  margin-left: 2rem;
  transition-duration: 0.4s;
  cursor: pointer;
}
main .withData .dataTitle button:hover {
  background-color: white;
  color: green;
}
main .withData h2 {
  text-align: left;
}
main .withData .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: black;
  color: white;
  padding: 10px;
  width: 80%;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
main .withData .grid-container .cke_top {
  display: none;
}
main .withData .grid-container .ckeditor {
  width: 200px;
  height: 150px;
}
main form .noData {
  text-align: center;
}
main form .noData h1 {
  color: red;
}
main form .noData #copyIt:hover {
  text-decoration: underline;
}
main form h2 {
  text-align: left;
  margin-bottom: 2rem;
}
main form input[type=text] {
  float: left;
  width: 50%;
  padding: 12px 20px;
  box-sizing: border-box;
}
main form input[type=number] {
  float: left;
  width: 10%;
  padding: 12px 20px;
  font-size: 20px;
  box-sizing: border-box;
}
main form input[type=checkbox] {
  align-items: center;
  width: 15px;
  height: 15px;
}
main form textarea {
  float: left;
  width: 80%;
}
main form .send {
  background-color: #000000;
  border: 1px solid #000000;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
main form .send:hover {
  background-color: white;
  color: #000000;
}
main .addReport {
  background-color: #8c8a92;
  border: 1px solid #8c8a92;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
main .addReport:hover {
  background-color: white;
  color: #8c8a92;
}
main .grid-container:nth-child(2) {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: black;
  color: white;
  padding: 10px;
  width: 98%;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
main .grid-container:nth-child(2) .cke_top {
  display: none;
}
main .grid-container:nth-child(2) .ckeditor {
  width: 200px;
  height: 150px;
}
main .grid-container > div {
  text-align: left;
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
}
main .grid-container > div button {
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
main .grid-container > div .btn1 {
  background-color: royalblue;
  border: 1px solid royalblue;
}
main .grid-container > div .btn1:hover {
  color: royalblue;
  background-color: white;
}
main .grid-container > div .btn2 {
  background-color: red;
  border: 1px solid red;
}
main .grid-container > div .btn2:hover {
  color: red;
  background-color: white;
}
main .grid-container > div .btn3 {
  background-color: green;
  border: 1px solid green;
}
main .grid-container > div .btn3:hover {
  color: green;
  background-color: white;
}
main .grid-container:nth-child(4) {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  background-color: black;
  color: white;
  padding: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}/*# sourceMappingURL=dailyweeklyreport.css.map */